#navbar.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data=>{:toggle=>"collapse", :target=>".nav-collapse"}}
        %img{:src=>"img/favicon.ico"}
      %a.brand
        %img{:alt => "The Solar System", :height => "50", :src => "img/sslogo50px.png", :width => "120"}/
      .nav-collapse.in
        %ul.nav
          %li
            %a{:href=>"##{title.snake_case}"}= title
          - unless @chapter.sections.nil?
            - @chapter.sections.each do |section|
              %li<
                %a{:href=>'#'+section.snake_case}= section
        %ul.nav.pull-right
          %li
            %a.btn.btn-navbar{:href=>"/table_of_contents"}< Table of Contents
