#navbar.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %ul.nav
        - if @chapter.sections.nil?
          %li
            %img{:alt => "The Solar System", :height => "40", :src => "img/sslogo50px.png"}/
        - else
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href=>"#"}
              %strong= title
              %img{:src=>"img/favicon.ico", :width=>"12"}
            %ul.dropdown-menu
              - @chapters.each do |c|
                %li
                  %a{:href=> c.name.snake_case}=c.name
        - if @chapter.sections.nil?
          - @chapters.each do |c|
            %li{:class=>c==@chapter ? "active" : nil }
              %a{:href=>c.name.snake_case}=c.name
        - else
          - @chapter.sections.each do |section|
            %li<
              %a{:href=>'#'+section.snake_case}= section
