%section#example_abilities.span10
  %header
    %h2 Example Abilities
  %p These examples of typical Abilities range widely over all kinds of imaginable settings. Remember to crop and extend the list appropriately for a Solar System campaign to reflect the actual setting!
  %p
    The description of each Ability is first and foremost intended to make sure the players are on the same page over what the Ability represents in the
    %em fiction
    of the game. Unlike many other games, Solar System Abilities are primarily described in fictional terms, as they do not possess any Ability-specific mechanical effects - players have to understand what an Ability does in the fiction to gauge any mechanical consequences.
  %dl.abilities
    %dt#academics_r Academics (R)
    %dd If the given campaign does not feature more exact academic skills, then this would be the catch-all designation for a character with an academic background. Most pulp adventures and such will however benefit from some differentiation, in which case this Ability could serve as a secondary gauge of education.
    %dt#amorous_arts_i Amorous Arts (I)
    %dd Courtesans and courtiers well versed in pleasing others in intimate circumstances are a staple of many genres. Often these skills become a linchpin of the whole plot as characters fall in or out of love in their complex machinations. Especially appropriate in historical fiction, wherein female characters have few strengths as is.
    %dt#animal_handling_i Animal Handling (I)
    %dd For more developed settings vague "animal handling" is probably too uncharacteristic, but high fantasy (which romanticizes nature) or pulp fiction (with Tarzan-type "wild" characters) could well make use of some sort of animal empathy. More civilized settings subsume animal handling into specific occupational skills.
    %dt#bargain_i Bargain (I)
    %dd While it might not suit a knightly setting, scoundrel characters often need to know what things are worth and what others think they are.  Whether a character can affird something might be resolved with this very Ability; most Solar System campaigns track character finances in vague, cinematic terms.
    %dt#blaster_weapons_v Blaster Weapons (V)
    %dd Vaguely scientific energy weapons are a staple of space opera, so an Ability dedicated to fighting with them could be appropriate, presuming that the weapons require some ability in the first place.  Such a martial art might be used to repaid and care for the weapons, as well as fighting with them or making trick shots.
    %dt#combat_experience_i Combat Experience (I)
    %dd An Ability depicting the brutality and extent of a character's career in war.  Useful in making the correct battle-field decisions and not freezing up in danger.  Could also cover shootery and everything else about soldiering if the topic was marginal for the campaign.  Relevant mostly when there are some non-combatants in the game as well.
    %dt#conspire_i Conspire (I)
    %dd Some Abilities are very setting-specific.  A specific Ability for running conspiracies successfully probably would not develop outside a culture in constant political upheaval of a of a particularly roundabout kind.  More likely, a powerful and ancient conspiracy might well actually possess in its folds just such a knowledge-base.
    %dt#courtesy_i Courtesy (I)
    %dd Social skills can be categorized in all kinds of ways into Abilities.  The best results are achieved by emulating the setting: if the setting culture has a concept for courtesy as something learned, then it makes sense as an Ability.  European nobility in the modern age used to be taught exactly like this to facilitate social interaction.
    %dt#dueling_v Dueling (V)
    %dd Many cultures of the past and fantasy have Duelling traditions for judicial, social or religious reasons.  A character well-versed in the art would have an edge in any one-on-one confrontation with familiar weapons; this Ability would be less useful in a chaotic melee or dishonorable surprise situations, though.
    %dt#equilibristics_v Equilibristics (V)
    %dd A general name for all sorts of circus acts from acrobats to juggling, covering a range of entertainment gymnastics.  A less abstract name such as "Circus Acts" or "Acrobatics" would go better in a pre-modern context, but would go better in a pre-modern context, but this sort of Ability might go well for a modern enthusiast of a circus arts.
    %dt#flying_i Flying (I)
    %dd Whether flying is a Vigor, Instinct or Reason Ability actually depends on wo is flying and how.  A flying animal would use Vigor, while a human pilot would probably use Instinct.  A scifi space navigator could well use Reason.  Just flying a plane wouldn't necessarily be an Ability at all in many genres, though, being de rigeur.
    %dt#freeload_i Freeload (I)
    %dd Similar to a begging skill-set but fancier: the freeloader knows how to leech off a living from well-off friends, paying with wit, entertainment or perhaps minor house-work.  A feasible Ability for a social character, sure to lead to interesting situations if the setting has a place for layabouts.
    %dt#gadgetry_r Gadgetry (R)
    %dd
      A cinematic spy or pulp adventure setting would certainly have something for inventing and/or operating special equipment.  The Ability would probably be supplemented by a range of
      = succeed "." do
        %a{:href => "#secrets_and_crunch"} Secrets
      On the other hand, a more realistic or futuristic game would work with specific scientific and tool-use Abilities.
    %dt#goetia_r Goetia (R)
    %dd Ability in Goetia is knowledge of the practices of summoning spirits, demons and angels according to the Lesser Key of Solomon.  It is a good example of how fantastic magical arts work better with specific names, purposes and ties in the setting; calling the Ability "Summoning" would be vague in comparison.
    %dt#hard_work_v Hard Work (V)
    %dd Cinematic heroes do not usually shine for their stamina and perseverance in honest work, but roleplayers luckily have more leeway in defining what their stories are about.  A character could prosper as a simple farmer, win a threshing contest or impress a prospective father-in-law with this Ability, for example.
    %dt#hypnosis_r Hypnosis (R)
    %dd The Ability to control others with mesmerism is a staple of pulp-style stories in all genres.  Classically such an Ability is used to both harm and heal in inventive ways, as hypnosis opens the mind in mysterious or even mystical manner.  The Ability might have less fantastic uses in a modern thriller sort of thing, as well.
    %dt#internet_skills_r Internet Skills (R)
    %dd A modern and near-future Ability used in the global networks.  Useful in information and contacts search, creating web content and understanding web programming and protocols, as well as getting around tracing and censorship.  Computer-literate people would all possess this Ability, but only a few professionals have higher ranks.
    %dt#kung_fu_v Kung-fu (V)
    %dd A suitable catch-all martial Ability for characters in a Chinese historical or fantasy game; pure wuxia might also have Soldiering (V) and Treachery (I) as other violent Abilities to contrast the noble martial scholar with other ass-kicking forces.  A character's specific style would be depicted with Secrets, again.
    %dt#language_specify_r Language (specify) (R)
    %dd Language-skills are an example of an Ability that is not appropriate for a cinematic campaign.  However, an imaginative game centered upon anthropological issues or a first meeting between cultures would be entirely feasible.  Alternatively, an Ability for "knowing many languages in general" would work for adventurous games, too.
    %dt#music_i Music (I)
    %dd Music and other artistic Abilities are fun to play with in a certain kind of dramatic setting that allows art larger than life to be whipped out on command to impress and influence.  The Ability is probably appropriate in more realistic settings only if the campaign will actually have some substantial interest in artists and art.
    %dt#re_animate_v Re-animate (V)
    %dd An example of a purely fantastic Ability that undead monsters in fantasy environments or retrovirally vitalized scifi aliens might possess.  The setting would have to determine how the Ability works, exactly, and when; the players can't use the real world as a gauge here, so all they really have is the agreed-upon setting and fiction.
    %dt#religion_specify_r Religion (specify) (R)
    %dd A religious authority in any setting will probably have some use for an Ability concerning his theology, knowledge of the rites and "strength of faith" (unless the latter is covered by some other Ability).  In general, combining a skill-set with cultural abilities and communal contacts like this makes for a strong Ability.
    %dt#riding_v Riding (V)
    %dd Horseback-riding is a cinematic Ability suitable for heroes in many historical and fantasy settings.  The Ability could be used to care for equines, escape dangerous situations on horseback, catch escapees or gain an edge in battle.  By analogy, an Ability for keeping and driving a car would be quite appropriate as well.
    %dt#servitude_i Servitude (I)
    %dd An example of an occupational Ability useful in some settings: understanding and fulfilling routine commands, not drawing the ire of the master and acting appropriately to the station would all be covered by this, as well as any domestic skill sets implied by the position and household.
    %dt#sports_v Sports (V)
    %dd In general, a sporting Ability resembles art Abilities in when and where it might work well.  A modern game, or one set in ancient Greece, might find an Ability dedicated to athletic accomplishment appropriate.  A campaign focusing on the matter might even have players specify which sport their character excels in.
    %dt#streetwise_r Streetwise (R)
    %dd Knowing the right etiquette, people and habits of the local criminal underworld and the streets scene surrounding it.  Could also count for actual criminal work skills when the campaign has no major focus in that direction.  Similar Abilities are easy to create for other subcultures; how widely useful each is depends on campaign focus.
    %dt#super_strength_v Super-strength (V)
    %dd Exceptional and clearly exclusive Abilities are possible as well, such as those a super-hero might possess.  A whole race of creatures might have a similar Ability in a fantasy context.  The exceptional nature of this Ability can be further emphasized by requiring a specific Secret for characters to obtain Super-strength.
    %dt#surgery_r Surgery (R)
    %dd Surgery would likely be too narrow an occupational in a modern game (something like "Medicine" would probably serve wider interests), but as it was a specific, less specialized occupation in the Middle Ages separate from the academic physician, it'd make a fine Ability in a historical campaign.
    %dt#vampire_lore_r Vampire Lore (R)
    %dd This Ability would only be usable in a setting where the focal point of interest was vampirism.  Entirely appropriate for a reinterpretation of Bram Stoker's Dracula, for example, where Vampire Lore could winnow fact from myth and allow characters to make informed decisions about the mysterious threat.
    %dt#woodcraft_v Woodcraft (V)
    %dd There may be many types of wilderness survival in some settings, depending on whether the differences between forests, glaciers, deserts and other environments warrant such focus.  Regardless, the Ability facilitates moving, sheltering and finding food in wilderness environments.  Hunting might be covered as well in some settings.