%section#example_secrets.span10
  %header
    %h2 Example Secrets
  %p
    The secrets here are all depicted in extremely generic terms and picked for mechanical variety; in actual play not every Secret would need to have different mechanics and they would all be much more specific in describing both their effects and how a character might come about learning the Secret. Examples of more specific implementations are in
    %a{:href => "#advanced_crunch"} Advanced Crunch
  %dl.secrets
    %dt#aide_person Aide (person)
    %dd
      %p
        Choose an amiable secondary character who has no Abilities higher than the character's.  (Create full statistics for the character if not already done.)  The secondary character is now assumed to stick with the player character and help him out of loyalty to common motives payment or other suitable motive.  The aide follows instructions for the most part; the Story Guide may contest individual commands with a
        %code Resist (R)
        check.  The secondary character has
        %code
          %a{:href => "#aide_to_whom"} Key of Aide
        for free, but may not use any other Keys; the player character may not gain experience due to interaction with his aide.
    %dt#avoidance_ability Avoidance (Ability)
    %dd
      %p The character knows how to pre-empt conflict: a successful action to avoid in extended conflict ends the conflict without resolution.  This does not prevent the opponent from re-engaging normally, but the fictional situation might change to make that unfeasible right away.
      %p
        %strong> Cost
        \: 2 Pool associated with the Ability.
    %dt#background_particular Background (particular)
    %dd
      %p The character's background is exceptional for the setting; he might be a noble in a medieval society, for example.  Any rules-effect depends on the particular background.  A noble might gain access to further noble-only Secrets, while a vagrant might be able to cherry-pick Abilities from several cultural places and a hermit might be able to refresh his Pools with animal companions, for example.  In addition, all backgrounds grant a bonus die for interactions involving the background.
    %dt#blessing_ability Blessing (Ability)
    %dd
      %p
        Pick a motivational Ability such as
        %code Pray (V)
        or
        = succeed "." do
          %code Rhetoric (I)
        When exorting a group of other characters towards a given task with the chosen Ability, the player may define an Effect based on the Ability check, representing his commitment to the task at hand; all listeners who accept the task may buy the Effect normally, effectively duplicating it.
      %p
        %strong> Cost
        \: 2 Pool associated with the Ability, plus the cost of the Effect
    %dt#bodhisattva Bodhisattva
    %dd
      %p
        The character (not necessarily a literal bodhisattva) refuses to let go, preferring to continue in the campaign: when the character makes a
        %code Transcendent (7)
        level success in an Ability check, the player may opt to roll additional penalty dice into the check before accepting the result, thus potentially lowering it from
        = succeed "." do
          %code Transcendent
      %p
        %strong> Cost
        \: 1st level Harm per penalty die.
      %p
        %strong> Requirement
        \: at least one
        %code Grand Master (4)
        Ability.
    %dt#contacts Contacts
    %dd
      %p The character knows plenty of people all around.  The player may introduce a new secondary character with a short phrase or claim a character the Story Guide just introduced as his contact.
      %p
        %strong> Cost
        \: 3 Pool, type (and mix) depending on the nature of the relationship: Vigor for ol' buddies, Instinct for lovers, Reason for colleagues and so on.
    %dt#difficulty_particular Difficulty (particular)
    %dd
      %p The character has some difficulty in comparison to others, such as being crippled or outcast.  He has managed to compensate, however: the character may buy unlimited bonus dice with Pool points whenever his difficulty causes him conditional penalties.  (This does not help in situations that disallow a check altogether.)  Additionally, the character may regain the Advances for any benefits he cannot use anymore due to his difficulty, as he accepts his loss.
    %dt#estimation Estimation
    %dd
      %p
        The character is adept at analyzing conditions.  A successful check with the
        %code React (I)
        Ability allows the player a number of questions equal to the level of success concerning the game statistics of other characters; names of current effects, Pool sizes, Ability ratings, etc.  are all fair game for estimation.  Obviously, this Secret is only feasible if the group limits this sort of information in some manner in the first place.
      %p
        %strong> Cost
        \: 1
        %code Instinct
    %dt#equipment_particular Equipment (particular)
    %dd
      %p The character has some unusual equipment, such as a horse (for a medievalish setting), or anything else that most people wouldn't possess, really.  The character may declare and possess one free Effect representing the equipment.  (In other words, the first Effect related to the equipment does not cost Pool points, while the player may also pick one such Effect during each refresh to preserve for free.)
      %p
        %strong> Cost
        \: 2
        %code Instinct
    %dt#harrying_ability Harrying (Ability)
    %dd
      %p The character is skilled in minimizing his losses in conflict.  When the character loses a normal conflict with the chosen Ability, the player may opt to deduct his check result from the winner's check, effectively lowering the degree of victory drastically for all purposes.  Alternatively, he may make an Effect from his own check result.
      %p
        %strong> Cost
        \: 2 associated Pool
    %dt#imposition_motivation_key Imposition (motivation key)
    %dd
      %p The character has learned to convince others of his viewpoint.  A successful social Ability check (probably resisted) forces the target or targets to immediately obtain the chosen Key, going into Advance debt if necessary.
      %p
        %strong> Cost
        \: 2
        %code Instinct
      %p
        %strong> Requirements
        \: possess the Key.
    %dt#incubation_secret Incubation (Secret)
    %dd
      %p The character has a treasure map, recording contract or other opportunity for gaining some Secret.  When the character has made three successful Ability checks towards the process, this Secret is exchanged for the chosen Secret.
    %dt#mighty_blow_ability Mighty Blow (Ability)
    %dd
      %p
        The character has learned to finish what he starts: the player may increase the level of Harm for any Harm-causing Ability check with the chosen Ability on a 1:1 basis with Pool points from the associated Poo.  The Harm may not be increased past
        = succeed "," do
          %code Broken
        however.
      %p
        %strong> Cost
        \: 1 Pool associated with the Ability per increased level of Harm.
    %dt#quality_construction_ability Quality Construction (Ability)
    %dd
      %p The character's genius creates especially potent Effects with one Ability.  A character using an item, condition or other preparation made with Quality Construction gains one more bonus die per check when spending it for bonus dice.
      %p
        %strong> Cost
        \: 3
        %code Reason
        and cost of Effect
    %dt#retraining_ability_pool Retraining (Ability, Pool)
    %dd
      %p
        The character has an esoteric background or special training.  Pick and Ability and a Pool.  This Ability is now associated with this Pool
        = succeed "." do
          %em as well
        Depending on the Ability this might allow the character to use it in new situations and for new purposes as well.
    %dt#shattering_ability Shattering (Ability)
    %dd
      %p The character is especially skilled in destroying Effects that might be affected with the chosen Ability.  Any level of success destroys a whole Effect, and the player may split excess success levels against several Effects as the situation allows.
      %p
        %strong> Cost
        \: 2 Pool related to the Ability per affected Effect.
    %dt#specialization_ability_specialty Specialization (Ability, specialty)
    %dd
      %p Pick an Ability and define a specialty within the Ability.  The character has a knack for doing especially well within the specialty, gaining a free bonus die for any such Ability checks.
    %dt#skirmish_ability Skirmish (Ability)
    %dd
      %p When the character is in conflict against several opponents while using the chosen Ability, the opposing checks are compared against him separately instead of support chains.  In extended conflict, the player may pay Pool to target several appropriate opponents with the Ability, even when the situation wouldn't normally warrant such.
      %p
        %strong> Cost
        \: 2 associated Pool for normal conflicts, 1 per extra opponent in extended.
    %dt#surprise_pool Surprise (Pool)
    %dd
      %p The character is adept at disorienting his opponents in the physical, social or intellectual arena (choose one Pool).  In conflict, when the character surprises the opponent, they have to respond with the appropriate Passive Ability instead of their intended action.  This works in both normal and extended conflict.
      %p
        %strong> Cost
        \: 1 Pool as chosen.
    %dt#survivalism_pool Survivalism (Pool)
    %dd
      %p The character tends to be always prepared, at least in one area of life.  When refreshing the chosen Pool, the player may make a check with the corresponding Passive Ability to off-set the Pool costs of retaining any Effects associated with the Pool by the success level.
    %dt#synergy_ability_ability Synergy (Ability, Ability)
    %dd
      %p The character has learned to combine two Abilities seamlessly in situations that use both.  The player may support either Ability with the other without using an action in extended conflict.  In normal conflict check both Abilities simultaneously and have the worse result support the better, regardless of the details of the situation.
    %dt#talent_particular Talent (particular)
    %dd
      %p The character has an interesting special talent that allows him to do things others couldn't even try.  The talent might not always work as a matter of course, or might be useful in conflict, in which case it defines the Ability used with it.  The talent does not have further mechanical impact, however.
      %p
        %strong> Cost
        \: 1 associated Pool point for minor tricks that are rarely useful, 2 for useful and flexible talents and 3 for major effects that always change the nature of the scene when used.  Add +1 for prestigious stuff that makes other players jealous and -1 for talents that require an Ability check to execute most of the time.
    %dt#summoning_type Summoning (type)
    %dd
      %p The character has some sort of summoning powers, like he can summon demons or animals from the woods, creating/introducing a secondary character.  The character makes an appropriate Ability and Advances equal to three times the initial Ability check result, to be distributed to Abilities, Pools and Secrets. The Story Guide distributes half of the Advances, the rest are cosen by the character.  Summoned characters do not have Keys.  The summoned creature does not particularly obey the summoner.
      %p
        %strong> Cost
        \: Check result in Pool associated with the used Ability.
    %dt#teacher Teacher
    %dd
      %p The character is skilled at teaching.  When another character learns from this one, the student regains one experience point per Advance spent under the tutelage.
      %p
        %strong> Cost
        \: 1 Pool associated with the method of teaching per Advance taught.
    %dt#training_ability Training (Ability)
    %dd
      %p The character has been formally schooled in the use of the chosen Ability.  You are not limited to just one bonus die from Pool points when making an Ability check.
    %dt#wrestling_pool Wrestling (Pool)
    %dd
      %p The character knows how to force an issue with his chosen arena.  When his Ability check with an Ability associated with the chosen Pool ties an opponent (in normal or extended conflict), the player may opt to enter into a Pool bid with the opponent (each using the associated Pool of his Ability): the players pay Pool points one at a time until the opponent cannot or will not pay.  The winner of the bid is considered to have won the check by a margin of one.
