%section#example_keys.span10
  %header
    %h2 Example Keys
  %p
    These example Keys are just a shallow flash into the possibilities. Know your campaign and pick Keys suitable to the issues - or establish some interesting tendencies in the setting, such as having almost all Arcturans possess the
    %code Key of Necrophagy
    or whatever.
  %dl.keys
    %dt#adventure Adventure
    %dd
      %p The character has adventure in his blood.  It even follows him around.
      %dl
        %dt 1xp
        %dd Go to new places, meet new people and live a life of excitement.
        %dt 2xp
        %dd Participate in an unlikely, yet dramatic coincidence.
        %dt 5xp
        %dd Finish an adventure.
        %dt Buyoff
        %dd Settle down for good.
    %dt#aide_to_whom Aide (to whom)
    %dd
      %p The character is in service of another.  Why?  How far?  What of his own judgement?
      %dl
        %dt 1xp
        %dd Obey the master's order.
        %dt 2xp
        %dd Suffer in service.
        %dt 5xp
        %dd Save the master from a tight spot.
        %dt Buyoff
        %dd Leave service.
    %dt#alignment_choose Alignment (choose)
    %dd
      %p The character has a D&amp;D-style alignment, such as "lawful" or "evil".  You know how those work.
      %dl
        %dt 1xp
        %dd The alignment comes up.
        %dt 2xp
        %dd You and your party act to follow the alignment.
        %dt 5xp
        %dd Sacrifice party integrity and/or resources to follow your alignment.
        %dt Buyoff
        %dd Change alignment.
    %dt#badge Badge
    %dd
      %p The character is a police officer, with the associated responsibilities.
      %dl
        %dt 1xp
        %dd Uphold the law.
        %dt 2xp
        %dd Bend the law.
        %dt 5xp
        %dd Get shot in the line of duty.
        %dt Buyoff
        %dd Change careers.
    %dt#conan Conan
    %dd
      %p The character is Conan.
      %dl
        %dt 1xp
        %dd Fulfill your urges to the max.
        %dt 2xp
        %dd Grasp the adventure that beckons.
        %dt 5xp
        %dd Triumph over your enemies.
        %dt Buyoff
        %dd Become soft and civilized.
    %dt#conscience Conscience
    %dd
      %p The character knows right from wrong and might sometimes even act on it.
      %dl
        %dt 1xp
        %dd Help the week and needy.
        %dt 3xp
        %dd Save an innocent life.
        %dt Buyoff
        %dd Ignore the cries of the innocent.
    %dt#criminal Criminal
    %dd
      %p The character is a hardened criminal.
      %dl
        %dt 1xp
        %dd Interact with criminals.
        %dt 2xp
        %dd Perform a crime.
        %dt 5xp
        %dd Escape justice.
        %dt Buyoff
        %dd Make restitution for your crimes.
    %dt#cripple Cripple
    %dd
      %p The character is crippled or has some other drastic disadvantage of that sort.
      %dl
        %dt 1xp
        %dd The disadvantage causes difficulty.
        %dt 2xp
        %dd Substantial problems, such as penalty dice or narrowed opportunities.
        %dt 5xp
        %dd Fail in an important situation due to the disadvantage.
        %dt Buyoff
        %dd Accept the condition.
    %dt#dark_secret Dark Secret
    %dd
      %p The character has a mysterious past with terrible secrets.
      %dl
        %dt 1xp
        %dd Your past comes up somehow.
        %dt 2xp
        %dd Clues to your past are revealed.
        %dt 5xp
        %dd Your past endangers your present.
        %dt Buyoff
        %dd Confide your story to another.
    %dt#despair Despair
    %dd
      %p The character has lost his hope and gone nigh insane about it.
      %dl
        %dt 1xp
        %dd Try to convince others to stop their futile struggle.
        %dt 3xp
        %dd Give up on an important struggle.
        %dt Buyoff
        %dd Find the courage to hope again.
    %dt#duelist Duelist
    %dd
      %p The character duels frequently, perhaps because he is paid to.
      %dl
        %dt 1xp
        %dd Challenge somebody into a duel.
        %dt 2xp
        %dd Get challenged yourself.
        %dt 5xp
        %dd Kill in a duel.
        %dt Buyoff
        %dd Lose a duel.
    %dt#edge Edge
    %dd
      %p The character has a self-destructive lifestyle.
      %dl
        %dt 1xp
        %dd Act in an irresponsible manner.
        %dt 2xp
        %dd Others worry about your lifestyle.
        %dt 5xp
        %dd Get hurt due to your choice of lifestyle.
        %dt Buyoff
        %dd Commit to a responsiblity.
    %dt#faith_specify Faith (specify)
    %dd
      %p The character is strong of faith in a particular religion or cause.
      %dl
        %dt 1xp
        %dd Defend the reigion to others.
        %dt 2xp
        %dd Convert another to your faith.
        %dt 5xp
        %dd Defend the faith despite personal danger.
        %dt Buyoff
        %dd Deny your faith.
    %dt#family Family
    %dd
      %p The character's family is an important and ever-present condition.
      %dl
        %dt 1xp
        %dd Have a family scene.
        %dt 2xp
        %dd Argue within the family.
        %dt 5xp
        %dd Sacrifice for your family.
        %dt Buyoff
        %dd Leave your family.
    %dt#fan_service Fan Service
    %dd
      %p The character ends up in some pretty compromising situations.  Luckily she's not hard on the eyes.
      %dl
        %dt 1xp
        %dd You get some hot description.
        %dt 2xp
        %dd A wardrobe accident.
        %dt 5xp
        %dd Another character gets a solid peek.
        %dt Buyoff
        %dd Have an explicit sex scene.
    %dt#fighting Fighting
    %dd
      %p The character is all about the bloodlust.
      %dl
        %dt 1xp
        %dd Attack somebody.
        %dt 3xp
        %dd Win a fight.
        %dt Buyoff
        %dd Refuse a fight.
    %dt#great_power Great Power
    %dd
      %p The character has failed his conscience and now looks for redemption.
      %dl
        %dt 1xp
        %dd Use your power for good.
        %dt 3xp
        %dd Suffer for redemption.
        %dt Buyoff
        %dd Abandon your role in community.
    %dt#idol Idol
    %dd
      %p The character wants to be popular.
      %dl
        %dt 1xp
        %dd Make sure everybody knows how cool you are.
        %dt 3xp
        %dd End up as laughing-stock.
        %dt Buyoff
        %dd Choose friends over fame.
    %dt#insanity Insanity
    %dd
      %p The character is quite utterly insane.
      %dl
        %dt 1xp
        %dd Act insane.
        %dt 3xp
        %dd Hurt yourself or others due to your insanity.
        %dt Buyoff
        %dd Recover your sanity.
    %dt#greed Greed
    %dd
      %p Wealth is its own purpose for the character.  Will anything be enough?
      %dl
        %dt 1xp
        %dd Act miserly in transaction
        %dt 3xp
        %dd Bend or break honor or law for wealth and gain.
        %dt Buyoff
        %dd Abandon your wealth.
    %dt#lgbt LGBT
    %dd
      %p The character belongs in a sexual minority.
      %dl
        %dt 1xp
        %dd The orientation comes up.
        %dt 2xp
        %dd Practice the sexuality.
        %dt 5xp
        %dd You are persecuted or shunned for your sexual habits.
        %dt Buyoff
        %dd Renounce your minority.
    %dt#mad_science Mad science
    %dd
      %p The character tinkers with forces man was not meant to know.
      %dl
        %dt 1xp
        %dd Have a scene at your workshop.
        %dt 2xp
        %dd Use your science to solve a problem.
        %dt 5xp
        %dd Your creation runs wild.
        %dt Buyoff
        %dd Lose your laboratory.
    %dt#metahumanity Metahumanity
    %dd
      %p The character is a superhuman, with wondrous powers.
      %dl
        %dt 1xp
        %dd Use your powers.
        %dt 2xp
        %dd Overcome a challenge thanks to your powers.
        %dt 5xp
        %dd Your powers change or you learn more of them.
        %dt Buyoff
        %dd Lose your powers.
    %dt#minority_specify Minority (specify)
    %dd
      %p The character is a member of an ethnic minority or a small nationality.
      %dl
        %dt 1xp
        %dd Express your ethnic culture.
        %dt 2xp
        %dd Your people show up in the campaign.
        %dt 5xp
        %dd Win an important struggle thanks to your cultural strengths.
        %dt Buyoff
        %dd Turn against your people.
    %dt#monster_hunter Monster Hunter
    %dd
      %p A monster-hunter is dedicated to protecting humanity from the secret threat.
      %dl
        %dt 1xp
        %dd Discuss the monsters with others.
        %dt 2xp
        %dd Find evidence of monsters.
        %dt 5xp
        %dd Face a monster.
        %dt Buyoff
        %dd Become a monster.
    %dt#mythos Mythos
    %dd
      %p The character is embroiled in the study of the Cthulhu mythos.
      %dl
        %dt 1xp
        %dd Read forbidden books.
        %dt 2xp
        %dd See forbidden sights.
        %dt 5xp
        %dd Encounter monsters.
        %dt Buyoff
        %dd Become insane.
    %dt#pacifism Pacifism
    %dd
      %p The character is committed to non-violence out of fear or principle.
      %dl
        %dt 1xp
        %dd Advocate a peaceful solution to a violent problem.
        %dt 2xp
        %dd Solve a violent situation without resorting to violence.
        %dt 5xp
        %dd Suffer from refusing to use violence.
        %dt Buyoff
        %dd Resort to deliberate violence.
    %dt#party_specify Party (specify)
    %dd
      %p The character is a member of a group with overriding common concerns.
      %dl
        %dt 1xp
        %dd Discuss the course of the party with the others.
        %dt 2xp
        %dd Cooperate with the party to achieve your goals.
        %dt 5xp
        %dd Side with the party against your best interests.
        %dt Buyoff
        %dd Leave the party.
    %dt#prophet Prophet
    %dd
      %p The character has the gift to see the future, or at least he believes so.
      %dl
        %dt 1xp
        %dd Make a ritual prediction.
        %dt 2xp
        %dd Get into trouble because of the predictions.
        %dt 5xp
        %dd Your prediction comes true.
        %dt Buyoff
        %dd Lose faith in your own prophecy.
    %dt#pugilist Pugilist
    %dd
      %p The character is a practitioner of the sweet science.
      %dl
        %dt 1xp
        %dd Train for a match.
        %dt 2xp
        %dd Lose a match.
        %dt 5xp
        %dd Win a match.
        %dt Buyoff
        %dd End your career.
    %dt#quest_specify Quest (specify)
    %dd
      %p The character has committed to a significant and valorous quest.
      %dl
        %dt 1xp
        %dd Strive to proceed with the quest.
        %dt 2xp
        %dd Succeed in proceeding.
        %dt 5xp
        %dd Reach a turning point in the quest.
        %dt Buyoff
        %dd Abandon or fulfill the quest.
    %dt#rock_star Rock Star
    %dd
      %p The character is an insanely famous rock star, with gold records and all.
      %dl
        %dt 1xp
        %dd Get recognized on the street.
        %dt 2xp
        %dd Rock out on stage.
        %dt 5xp
        %dd Break laws and morals.
        %dt Buyoff
        %dd Get into a clinic.
    %dt#sorcery Sorcery
    %dd
      %p The character masters the eldritch powers of sorcery.
      %dl
        %dt 1xp
        %dd Explore arcane lore.
        %dt 2xp
        %dd Gather arcane implements.
        %dt 5xp
        %dd Summon a demon.
        %dt Buyoff
        %dd Banish a demon.
    %dt#space_exploration Space Exploration
    %dd
      %p The character belongs in the Terran Space Exploration Corps.
      %dl
        %dt 1xp
        %dd Come to a new star system.
        %dt 2xp
        %dd Land on a new planet.
        %dt 5xp
        %dd Find an alien civilization.
        %dt Buyoff
        %dd Leave service.
    %dt#vow_specify Vow (specify)
    %dd
      %p The character has made a vow or suffered a geas concerning certain behavior or duty.
      %dl
        %dt 1xp
        %dd An opportunity to break the vow comes up.
        %dt 3xp
        %dd Refuse to break the vow despite rewards or threats.
        %dt Buyoff
        %dd Break the vow.
