%section#table_of_contents
  %ol
    %li
      %a{:href=>"/foreword"} Foreword
    %li
      %a{:href=>"/table_of_contents"} Table of Contents
    %li
      %a{:href => "/starting_a_game"} Introduction
      %ul
        %li
          %a{:href => "/starting_a_game#choosing_a_setting"} Choosing a Setting
        %li<
          %a{:href => "/starting_a_game#focal_points"} Focal Points
        %li<
          %a{:href => "/starting_a_game#overview_of_the_game"} Overview of the Game
        %li<
          %a{:href => "/starting_a_game#introducing_crunch"} Introducing Crunch
        %li<
          %a{:href => "/starting_a_game#initial_crunch"} Initial Crunch
    %li
      %a{:href => "/character_creation"} Character Creation
      %ol
        %li<
          %a{:href => "/character_creation#abilities"} Abilities
        %li<
          %a{:href => "/character_creation#heroic_event"} Heroic Event
        %li<
          %a{:href => "/character_creation#character_background"} Character Background
        %li<
          %a{:href => "/character_creation#cultural_identity"} Cultural Identity
        %li<
          %a{:href => "/character_creation#passive_abilities"} Passive Abilities
        %li<
          %a{:href => "/character_creation#dividing_pools"} Dividing Pools
        %li<
          %a{:href => "/character_creation#choosing_secrets_and_keys"} Choosing Secrets and Keys
        %li<
          %a{:href => "/character_creation#finalizing_the_character"} Finalizing the character
        %li<
          %a{:href => "/character_creation#initial_situation"} Initial Situation
        %li<
          %a{:href => "/character_creation#player_character_party"} Player character party
    %li
      %a{:href => "/playing_the_game"} Playing the Game
      %ol
        %li<
          %a{:href => "/playing_the_game#starting_up_the_session"} Starting up the session
        %li<
          %a{:href => "/playing_the_game#scenes"} Scenes
        %li<
          %a{:href => "/playing_the_game#tasks_in_free_play"} Tasks in Free Play
        %li<
          %a{:href => "/playing_the_game#choice_as_content"} Choice as Content
        %li<
          %a{:href => "/playing_the_game#conflicts"} Conflicts
        %li<
          %a{:href => "/playing_the_game#consequences"} Consequences
        %li<
          %a{:href => "/playing_the_game#pool_refreshment"} Pool Refreshment
        %li<
          %a{:href => "/playing_the_game#harm"} Harm
        %li<
          %a{:href => "/playing_the_game#birds_eye_view"} Bird's Eye View
    %li
      %a{:href => "/ability_check"} Ability Check
      %ol
        %li<
          %a{:href => "/ability_check#timing_and_stakes"} Timing and stakes
        %li<
          %a{:href => "/ability_check#narrating_success"} Narrating success
        %li<
          %a{:href => "/ability_check#no_suitable_ability"} No suitable Ability?
        %li<
          %a{:href => "/ability_check#bonus_and_penalty_dice"} Bonus and penalty dice
        %li<
          %a{:href => "/ability_check#circumstance_penalties"} Circumstance penalties
        %li<
          %a{:href => "/ability_check#supporting_a_check"} Supporting a check
        %li<
          %a{:href => "/ability_check#recording_effects"} Recording Effects
        %li<
          %a{:href => "/ability_check#using_effects"} Using Effects
    %li
      %a{:href => "/conflict_resolution"} Conflict Resolution
      %ol
        %li<
          %a{:href => "/conflict_resolution#initiating_conflict"} Initiating conflict
        %li<
          %a{:href => "/conflict_resolution#conflict_stakes"} Conflict stakes
        %li<
          %a{:href => "/conflict_resolution#leverage_propriety_and_scope"} Leverage, propriety and scope
        %li<
          %a{:href => "/conflict_resolution#selecting_abilities"} Selecting Abilities
        %li<
          %a{:href => "/conflict_resolution#resolving_the_conflict"} Resolving the conflict
        %li<
          %a{:href => "/conflict_resolution#ability_checks_in_conflict"} Ability checks in conflict
        %li<
          %a{:href => "/conflict_resolution#several_characters_in_conflict"} Several characters in conflict
        %li<
          %a{:href => "/conflict_resolution#solo_conflicts"} Solo conflicts
        %li<
          %a{:href => "/conflict_resolution#secondary_characters_in_conflict"} Secondary characters in conflict
    %li
      %a{:href => "/extended_conflict"} Extended Conflict
      %ol
        %li<
          %a{:href => "/extended_conflict#why_extend"} Why extend?
        %li<
          %a{:href => "/extended_conflict#scope_and_stakes_in_extended_conflict"} Scope and stakes in extended conflict
        %li<
          %a{:href => "/extended_conflict#negotiation_phase"} Negotiation phase
        %li<
          %a{:href => "/extended_conflict#the_defensive_action"} The defensive action
        %li<
          %a{:href => "/extended_conflict#resolving_actions"} Resolving actions
        %li<
          %a{:href => "/extended_conflict#rolling_a_tie"} Rolling a tie
        %li<
          %a{:href => "/extended_conflict#ending_a_round"} Ending a round
        %li<
          %a{:href => "/extended_conflict#special_actions"} Special actions
        %li<
          %a{:href => "/extended_conflict#multiple_characters_in_extended_conflict"} Multiple characters in extended conflict
        %li<
          %a{:href => "/extended_conflict#against_effects"} Against Effects
        %li<
          %a{:href => "/extended_conflict#strategy_in_extended_conflict"} Strategy in Extended Conflict
    %li
      %a{:href => "/keys_and_experience"} Keys and Experience
      %ol
        %li
          %a{:href => "/keys_and_experience#gaining_and_using_advances"} Gaining and Using Advances
        %li<
          %a{:href => "/keys_and_experience#advance_debt"} Advance Debt
        %li<
          %a{:href => "/keys_and_experience#losing_benefits"} Losing Benefits
        %li<
          %a{:href => "/keys_and_experience#transcendence"} Transcendence
        %li<
          %a{:href => "/keys_and_experience#wrapping_up_the_campaign"} Wrapping up the campaign
    %li
      %a{:href => "/secrets_and_crunch"} Secrets and Crunch
      %ol
        %li<
          %a{:href => "/secrets_and_crunch#learning_secrets"} Learning Secrets
        %li<
          %a{:href => "/secrets_and_crunch#developing_new_secrets"} Developing new Secrets
        %li<
          %a{:href => "/secrets_and_crunch#advanced_crunch"} Advanced Crunch
        %li<
          %a{:href => "/secrets_and_crunch#equipment_ratings"} Equipment ratings
        %li<
          %a{:href => "/secrets_and_crunch#drugs"} Drugs
        %li<
          %a{:href => "/secrets_and_crunch#werewolves"} Werewolves
        %li<
          %a{:href => "/secrets_and_crunch#martial_arts"} Martial Arts
    %li
      %a{:href => "/story_guide"} Story Guide
      %ol
        %li<
          %a{:href => "/story_guide#preparing_for_play"} Preparing for play
        %li<
          %a{:href => "/story_guide#elements_of_preparation"} Elements of Preparation
        %li<
          %a{:href => "/story_guide#adventure_map"} Adventure map
        %li<
          %a{:href => "/story_guide#framing_scenes"} Framing Scenes
        %li<
          %a{:href => "/story_guide#secondary_characters"} Secondary Characters
        %li<
          %a{:href => "/story_guide#running_conflicts"} Running Conflicts
        %li<
          %a{:href => "/story_guide#rules_arbitration"} Rules Arbitration
        %li<
          %a{:href => "/story_guide#running_a_campaign"} Running a Campaign
    %li
      %a{:href => "#afterword"} Afterword
    %li
      %a{:href => "/appendices"} Appendices
      %ol
        %li<
          %a{:href => "#example_abilities"} Example Abilities
        %li<
          %a{:href => "#example_keys"} Example Keys
        %li<
          %a{:href => "#example_secrets"} Example Secrets