%section#table-of-contents
  %header
    %h1 Table of Contents
  %ol
    - @chapters.each do |chapter|
      %li
        %a{:href=>"/#{chapter.name.snake_case}"}= chapter.name
      - unless chapter.sections.nil?
        %ol
          - chapter.sections.each do |section|
            %li
              %a{:href=>"/#{chapter.name.snake_case}##{section.snake_case}"}= section
  %h2 Extras
  %ul
    %li
      %a{:href=>"/onepage"} All of the above on one page
    %li
      %a{:href=>"/pdf/ss_character_sheet.pdf"} Character Sheet
    %li
      %a{:href=>"mailto:nicknovitski@gmail.com?subject=SolarSRD"} Questions and Praise
