section {
  padding-top: 80px
}

aside {
	float:none;
	border: 2px solid black;
	padding-left:6px;
	padding-right:6px;
	width:90%;
	margin:8px;
	margin-left:auto;
	margin-right:auto;
}

section.chapter {
   border-bottom: 4px inset #999;
   padding-bottom:30px;
}

dt.skill {
	
}

dt.key {
   
}

dt.secret {
	
}

.float {
	float:right;
	width:30%;
	margin-left:6px;
}

caption {
  font-size:18px;line-height:24px;	
}