@font-face {
  font-family: 'Kingthings';
  src: url('Kingthings_Calligraphica_2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1,h2,h3 {
	font-family: Kingthings;
}

header, h1, h2 {
	text-align: center;
}

.left {
    float:left;
}

h1 {
	text-shadow: gray 2px 1px 2px;
}

section {
    padding-top: 80px
}

dt.skill {
	
}

dt.key {
   
}

dt.secret {
	
}

caption {
  font-size:18px;line-height:24px;	
}